Uniform - Intake and Manager Approval.json
{
  "name": "Uniform - Intake and Manager Approval",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "89743236-1585-4a17-ae4b-8094b22fb8ec",
              "name": "approveUrl",
              "value": "={{ $execution.resumeUrl }}/decision?action=Approve",
              "type": "string"
            },
            {
              "id": "a5007bf5-a6a6-4063-a0e0-dd9a6d18efec",
              "name": "rejectUrl",
              "value": "={{ $execution.resumeUrl }}/decision?action=Reject",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2240,
        3392
      ],
      "id": "c50b2d9f-a965-4e72-8c17-7b56540d29b9",
      "name": "Set Links for Approve and Reject1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1344,
        3488
      ],
      "id": "6f41d0d5-0114-4b19-8d38-c4423e0c2636",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "html": "<p>Hello {{ $node[\"CW Response\"].json[\"Manager Name\"] }},</p>\n<p><b>{{ $node[\"CW Response\"].json[\"Employee Name\"] }}</b> has requested a uniform:</p>\n<ul>\n  <li><b>Item:</b> {{ $('CW Response').item.json['SKU (Type of uniform)'] }}</li>\n  <li><b>Size:</b> {{ $node[\"CW Response\"].json[\"Size\"] }}</li>\n  <li><b>Quantity:</b> {{ $('CW Response').item.json.Quantity }}</li>\n  <li><b>Reason:</b> {{ $('CW Response').item.json['Reason for new uniform?'] }}</li>\n</ul>\n\n<p>Please click below to decide:</p>\n\n<a href=\"{{ $json.approveUrl }}\" \n   style=\"background-color: #4CAF50; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px;\">\n   ✅ Approve Request\n</a>\n\n&nbsp;&nbsp;\n\n<a href=\"{{ $json.rejectUrl }}\" \n   style=\"background-color: #f44336; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px;\">\n   ❌ Reject Request\n</a>"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        2464,
        3392
      ],
      "id": "85a9911a-8322-423f-9873-413d7ac4d187",
      "name": "HTML1"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Add Uniform Request in DB').item.json.manager_email }}",
        "subject": "=Uniform Request for : {{ $('Add Uniform Request in DB').item.json.employee_name }}",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2688,
        3392
      ],
      "id": "b150ad91-af79-48c9-8045-40a24d833416",
      "name": "Send a message",
      "webhookId": "fcfee0f2-14ad-40f2-ba20-85133c395896",
      "credentials": {
        "gmailOAuth2": {
          "id": "Iy17k0YiRK5e4OLx",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<html>\n  <head>\n    <style>\n      body { font-family: Arial, sans-serif; text-align: center; padding-top: 50px; }\n      .container { background: #f0fdf4; padding: 40px; border-radius: 10px; display: inline-block; border: 1px solid #bbf7d0; }\n      h1 { color: #166534; }\n    </style>\n  </head>\n  <body>\n    <div class=\"container\">\n      <h1>✅ Response Recorded</h1>\n      <p>Thank you! The workflow is now proceeding.</p>\n      <p><i>You can close this window.</i></p>\n    </div>\n  </body>\n</html>",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        3136,
        3392
      ],
      "id": "e632deb7-e440-4f4f-9ee0-09d745d40993",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e6f4bc28-7b88-4e32-8b1f-a999dad4f945",
              "leftValue": "={{ $json.query.action }}",
              "rightValue": "=Approve",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3360,
        3392
      ],
      "id": "5732785e-2895-4829-8e03-cdf954a347cd",
      "name": "If"
    },
    {
      "parameters": {
        "resume": "webhook",
        "responseMode": "responseNode",
        "options": {
          "webhookSuffix": "decision"
        }
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2912,
        3392
      ],
      "id": "0a4ada16-f1a9-41f4-b73e-27eaebfcc740",
      "name": "Manager Approval Waiting",
      "webhookId": "0c4ad611-eb12-43d0-9af7-24c4474bf220"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "inventory",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "sku",
              "condition": "ilike",
              "keyValue": "=*{{ $('Add Uniform Request in DB').item.json.sku }}*"
            },
            {
              "keyName": "size",
              "condition": "eq",
              "keyValue": "={{ $('Add Uniform Request in DB').item.json.size_requested }}"
            },
            {
              "keyName": "fit_type",
              "condition": "ilike",
              "keyValue": "={{ $('Add Uniform Request in DB').item.json.fit_type }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1792,
        3296
      ],
      "id": "d3abf3e6-7470-4de3-9430-580a9faca348",
      "name": "Get Stock Details",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "eTU6QcdXZfyYjv6H",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {}
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1orY4nDbmW8H-cwI2Y2FvfKda2BFR_eLXlSgi5-IlZSU",
          "mode": "list",
          "cachedResultName": "Uniform Request - IKEA TODO (Responses)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1orY4nDbmW8H-cwI2Y2FvfKda2BFR_eLXlSgi5-IlZSU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 944089461,
          "mode": "list",
          "cachedResultName": "Form Responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1orY4nDbmW8H-cwI2Y2FvfKda2BFR_eLXlSgi5-IlZSU/edit#gid=944089461"
        },
        "event": "rowAdded",
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRange"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        896,
        3392
      ],
      "id": "195e99f3-1ed7-4071-a7f2-4e087c926320",
      "name": "CW Response",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "BywOrwSPH4cS2cs9",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "57c37790-3b48-4e59-be2f-a7e47e38dfb3",
              "leftValue": "={{ $('CW Response').item.json['Request ID'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1120,
        3392
      ],
      "id": "e6b701b6-548e-4ae3-9312-8208098707e8",
      "name": "Rework Response Check"
    },
    {
      "parameters": {
        "sendTo": "={{ $('CW Response').item.json['Email Address'] }}",
        "subject": "Uniform Request: Item Out of Stock",
        "message": "=Hi {{ $('CW Response').item.json['Employee Name'] }}, we received your request for the following:\n\nArticle: {{ $('CW Response').item.json['SKU (Type of uniform)'] }} \nColor: {{ $('CW Response').item.json.Color }})\nQuantity: {{ $('CW Response').item.json.Quantity }}\n\nUnfortunately, we are currently out of stock for this specific size and color. Please request a different size. ",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2240,
        3200
      ],
      "id": "aa2970d1-d07c-47c6-b710-bd5c0b96780b",
      "name": "Out of Stock Email",
      "webhookId": "913840ba-9fd7-42d3-942c-136243c95197",
      "credentials": {
        "gmailOAuth2": {
          "id": "Iy17k0YiRK5e4OLx",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "47107e25-f948-4b2e-82c5-700917aecca4",
              "leftValue": "={{ $json.on_hand_qty }}",
              "rightValue": "={{ $('CW Response').item.json.Quantity }}",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2016,
        3296
      ],
      "id": "8ea884c8-5c74-4fdc-bc3d-be2d16d2e419",
      "name": "Stock Available?"
    },
    {
      "parameters": {
        "tableId": "requests",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "employee_name",
              "fieldValue": "={{ $('CW Response').item.json['Employee Name'] }}"
            },
            {
              "fieldId": "employee_email",
              "fieldValue": "={{ $('CW Response').item.json['Email Address'] }}"
            },
            {
              "fieldId": "manager_email",
              "fieldValue": "={{ $('CW Response').item.json['Manager\\'s Email'] }}"
            },
            {
              "fieldId": "manager_name",
              "fieldValue": "={{ $('CW Response').item.json['Manager Name'] }}"
            },
            {
              "fieldId": "department",
              "fieldValue": "={{ $('CW Response').item.json.Department }}"
            },
            {
              "fieldId": "sku",
              "fieldValue": "={{ $('CW Response').item.json['SKU (Type of uniform)'] }}"
            },
            {
              "fieldId": "color",
              "fieldValue": "={{ $('CW Response').item.json.Color }}"
            },
            {
              "fieldId": "size_requested",
              "fieldValue": "={{ $('CW Response').item.json.Size }}"
            },
            {
              "fieldId": "reason",
              "fieldValue": "={{ $('CW Response').item.json['Reason for new uniform?'] }}"
            },
            {
              "fieldId": "quantity",
              "fieldValue": "={{ $('CW Response').item.json.Quantity }}"
            },
            {
              "fieldId": "requested_at",
              "fieldValue": "={{ $('CW Response').item.json.Timestamp }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "Requested"
            },
            {
              "fieldId": "fit_type",
              "fieldValue": "={{ $('CW Response').item.json['Fit Type'].split(\" \")[0] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1344,
        3296
      ],
      "id": "2b7ad743-be96-4bae-a8f6-3c84bc7e34ec",
      "name": "Add Uniform Request in DB",
      "credentials": {
        "supabaseApi": {
          "id": "eTU6QcdXZfyYjv6H",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "requests",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Add Uniform Request in DB').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "=Out Of Stock"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2464,
        3200
      ],
      "id": "7e5ca447-1741-4c9f-af4b-45b9d8edfcf7",
      "name": "Update Status OOS",
      "credentials": {
        "supabaseApi": {
          "id": "eTU6QcdXZfyYjv6H",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1orY4nDbmW8H-cwI2Y2FvfKda2BFR_eLXlSgi5-IlZSU",
          "mode": "list",
          "cachedResultName": "Uniform Request - IKEA TODO (Responses Personal)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1orY4nDbmW8H-cwI2Y2FvfKda2BFR_eLXlSgi5-IlZSU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 944089461,
          "mode": "list",
          "cachedResultName": "Form Responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1orY4nDbmW8H-cwI2Y2FvfKda2BFR_eLXlSgi5-IlZSU/edit#gid=944089461"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Request ID": "={{ $json.id }}",
            "Timestamp": "={{ $('CW Response').item.json.Timestamp }}"
          },
          "matchingColumns": [
            "Timestamp"
          ],
          "schema": [
            {
              "id": "Request ID",
              "displayName": "Request ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Employee Name",
              "displayName": "Employee Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Manager Name",
              "displayName": "Manager Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Manager's Email",
              "displayName": "Manager's Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Department",
              "displayName": "Department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "SKU (Type of uniform)",
              "displayName": "SKU (Type of uniform)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Color",
              "displayName": "Color",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Quantity",
              "displayName": "Quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Size",
              "displayName": "Size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Reason for new uniform?",
              "displayName": "Reason for new uniform?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1568,
        3296
      ],
      "id": "cf50dc69-6913-4a99-882e-1ee462989a61",
      "name": "Update Request ID",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7fDMX2wBorUWQb0X",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('CW Response').item.json['Email Address'] }}",
        "subject": "=Uniform Status :  {{ $('Respond to Webhook').item.json.query.action }}",
        "message": "=Uniform request has been Approved by your manager. ",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3584,
        3104
      ],
      "id": "f7c90892-1d88-4719-ab67-538903ec04af",
      "name": "Uniform Status : Approved",
      "webhookId": "dcd931be-f5e5-4c56-a1eb-2720790d9482",
      "credentials": {
        "gmailOAuth2": {
          "id": "Iy17k0YiRK5e4OLx",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('CW Response').item.json['Email Address'] }}",
        "subject": "=Uniform Status :  {{ $('Respond to Webhook').item.json.query.action }}",
        "message": "=Uniform request has been Rejected by your manager. Please contact your manager {{ $('CW Response').item.json['Manager Name'] }} for more information.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3584,
        3680
      ],
      "id": "90a70e35-1fc1-46c2-89d9-d0730fd4c82d",
      "name": "Uniform Status : Rejected",
      "webhookId": "dcd931be-f5e5-4c56-a1eb-2720790d9482",
      "credentials": {
        "gmailOAuth2": {
          "id": "Iy17k0YiRK5e4OLx",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        896,
        3904
      ],
      "id": "205dce35-1b8c-44ff-8114-513b2f4be68f",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "requests",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "status",
              "condition": "eq",
              "keyValue": "Approve"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1120,
        3904
      ],
      "id": "1f4f6997-2a4d-4a21-b12c-e7b165eba95c",
      "name": "Get all Approved Uniforms",
      "credentials": {
        "supabaseApi": {
          "id": "eTU6QcdXZfyYjv6H",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get all items from the Supabase node\nconst items = $input.all();\nlet htmlRows = \"\";\n\n// Loop through each request and build a table row\nfor (const item of items) {\n  const data = item.json;\n\n  // Placeholder link for Workflow B (we will build this next)\n  const issueLink = `https://n8n.srv1140016.hstgr.cloud/webhook-test/issue-uniform?id=${data.id}`;\n\n  htmlRows += `\n    <tr style=\"border-bottom: 1px solid #ddd;\">\n      <td style=\"padding: 12px;\"><b>${data.employee_name}</b></td>\n      <td style=\"padding: 12px;\">${data.sku}</td>\n      <td style=\"padding: 12px;\">${data.color}</td>\n      <td style=\"padding: 12px;\">${data.size_requested}</td>\n      <td style=\"padding: 12px;\">${data.fit_type}</td>\n      <td style=\"padding: 12px;\">${data.quantity}</td>\n      <td style=\"padding: 12px;\">\n        <a href=\"${issueLink}\" style=\"background-color: #16a34a; color: white; padding: 8px 12px; text-decoration: none; border-radius: 4px; font-weight: bold;\">\n          Mark Issued\n        </a>\n      </td>\n    </tr>\n  `;\n}\n\n// Wrap it in a clean table structure with the new headers\nconst finalHtml = `\n  <div style=\"font-family: Arial, sans-serif; color: #333;\">\n    <h2>Weekly Uniform Distribution List</h2>\n    <p>The following requests have been approved and are ready to be issued:</p>\n    <table style=\"width: 100%; border-collapse: collapse; text-align: left;\">\n      <tr style=\"background-color: #f3f4f6; border-bottom: 2px solid #ddd;\">\n        <th style=\"padding: 12px;\">Employee</th>\n        <th style=\"padding: 12px;\">SKU</th>\n        <th style=\"padding: 12px;\">Color</th>\n        <th style=\"padding: 12px;\">Size</th>\n        <th style=\"padding: 12px;\">Fit Type</th>\n        <th style=\"padding: 12px;\">Qty</th>\n        <th style=\"padding: 12px;\">Action</th>\n      </tr>\n      ${htmlRows}\n    </table>\n  </div>\n`;\n\nreturn [{ json: { html_table: finalHtml } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        3904
      ],
      "id": "341dbd49-3068-4357-8594-fa810e251f17",
      "name": "Table Format Code"
    },
    {
      "parameters": {
        "sendTo": "nirmitkhurana24@gmail.com",
        "subject": "Weekly Approved Uniforms List",
        "message": "={{ $json.html_table }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1568,
        3904
      ],
      "id": "434313e6-2b0f-4ed8-9092-1f5cc2174b08",
      "name": "Weekly Email to HR",
      "webhookId": "be0e7383-31a4-452d-b19d-47e895242298",
      "credentials": {
        "gmailOAuth2": {
          "id": "Iy17k0YiRK5e4OLx",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "inventory",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "sku",
              "condition": "eq",
              "keyValue": "={{ $json.sku }}"
            },
            {
              "keyName": "size",
              "condition": "eq",
              "keyValue": "={{ $json.size_requested }}"
            },
            {
              "keyName": "color",
              "condition": "eq",
              "keyValue": "={{ $json.color }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "reserved_qty",
              "fieldValue": "={{ $json.quantity }}"
            },
            {
              "fieldId": "on_hand_qty",
              "fieldValue": "="
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        896,
        2880
      ],
      "id": "4530e98a-2452-4c0d-b815-65969f36bbaa",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "eTU6QcdXZfyYjv6H",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "path": "issue-uniform",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        896,
        4224
      ],
      "id": "e770efdd-091c-47b3-aa2a-5f7f738afa99",
      "name": "Webhook",
      "webhookId": "b5233322-f383-4a2e-8e73-516bd89fcfbe"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "requests",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Add Uniform Request in DB').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "={{ $('Respond to Webhook').item.json.query.action }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3584,
        3296
      ],
      "id": "d96da64d-66e9-4219-b316-762c832cb105",
      "name": "Update status \"Approve\"",
      "credentials": {
        "supabaseApi": {
          "id": "eTU6QcdXZfyYjv6H",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "requests",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Add Uniform Request in DB').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "={{ $('Respond to Webhook').item.json.query.action }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3584,
        3488
      ],
      "id": "80960490-bbc7-4ed6-bd69-49cd9ba4a6cc",
      "name": "Update Status \"Reject\"",
      "credentials": {
        "supabaseApi": {
          "id": "eTU6QcdXZfyYjv6H",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE inventory\nSET on_hand_qty = on_hand_qty - 1\nWHERE sku ILIKE $1 AND size = $2",
        "options": {
          "queryReplacement": "=*{{ $json.sku }}*, {{ $json.size_requested }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1344,
        4224
      ],
      "id": "d6cbe475-8832-4e28-bf15-97fc8ed64639",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "dhX5Pt3ha0xZd1gD",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "requests",
        "limit": 1,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.query.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1120,
        4224
      ],
      "id": "2ca4a92c-2707-4d8e-bd6d-c7f469fc6502",
      "name": "Get Request Details",
      "credentials": {
        "supabaseApi": {
          "id": "eTU6QcdXZfyYjv6H",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "requests",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.query.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "Issued"
            },
            {
              "fieldId": "issued_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1568,
        4320
      ],
      "id": "d3a67749-9cad-4df1-bb4b-18483bf03cb2",
      "name": "Update Status \"Issued\"",
      "credentials": {
        "supabaseApi": {
          "id": "eTU6QcdXZfyYjv6H",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "transactions",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "request_id",
              "fieldValue": "={{ $('Get Request Details').item.json.id }}"
            },
            {
              "fieldId": "sku",
              "fieldValue": "={{ $('Get Request Details').item.json.sku }}"
            },
            {
              "fieldId": "size",
              "fieldValue": "={{ $('Get Request Details').item.json.size_requested }}"
            },
            {
              "fieldId": "occurred_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            },
            {
              "fieldId": "direction",
              "fieldValue": "OUT"
            },
            {
              "fieldId": "quantity",
              "fieldValue": "={{ $('Get Request Details').item.json.quantity }}"
            },
            {
              "fieldId": "by_whom",
              "fieldValue": "Aarushi Aarushi"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1568,
        4128
      ],
      "id": "1df51037-0cd3-4710-ab73-b2569f56c467",
      "name": "Create logs",
      "credentials": {
        "supabaseApi": {
          "id": "eTU6QcdXZfyYjv6H",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<html>\n<body style=\"font-family: sans-serif; text-align: center; padding: 50px;\">\n  <div style=\"background: #ecfdf5; border: 1px solid #6ee7b7; padding: 30px; border-radius: 8px; display: inline-block;\">\n    <h1 style=\"color: #065f46;\">✅ Uniform Issued</h1>\n    <p>Inventory updated (-1) and Employee notified.</p>\n    <p><i>You can close this window.</i></p>\n  </div>\n</body>\n</html>",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1792,
        4320
      ],
      "id": "fcf5e125-ccc3-4a01-9309-dfad3e6b0036",
      "name": "Confirmation Of Issuing status"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Get Request Details').item.json.employee_email }}",
        "subject": "Uniform Issued: Please Confirm Fit",
        "message": "=<p>Hi {{ $('Get Request Details').item.json.employee_name }},</p> <p>HR has marked your <b>{{ $('Get Request Details').item.json.sku }}</b> request as issued.</p> <p>Please try it on and click below:</p>  <a href=\"https://your-n8n-instance.com/webhook/fit-confirm?id={{ $('Webhook').item.json.query.id }}&status=Kept\">   ✅ It Fits (Keep) </a> <br><br> <a href=\"https://your-n8n-instance.com/webhook/fit-confirm?id={{ $('Webhook').item.json.query.id }}&status=Exchange\">   ⚠️ Doesn't Fit (Exchange) </a>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2016,
        4320
      ],
      "id": "d1f80a27-093e-4904-8830-86dad51ad9f0",
      "name": "Confirmation With Employee",
      "webhookId": "ab01715d-f552-496e-843d-5b5cc6abf187",
      "credentials": {
        "gmailOAuth2": {
          "id": "Iy17k0YiRK5e4OLx",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        3056,
        4160
      ],
      "id": "505d4675-1c54-48c7-b2ca-1894a1e9507e",
      "name": "Respond to Webhook1"
    }
  ],
  "pinData": {},
  "connections": {
    "Set Links for Approve and Reject1": {
      "main": [
        [
          {
            "node": "HTML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Manager Approval Waiting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Update status \"Approve\"",
            "type": "main",
            "index": 0
          },
          {
            "node": "Uniform Status : Approved",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Status \"Reject\"",
            "type": "main",
            "index": 0
          },
          {
            "node": "Uniform Status : Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manager Approval Waiting": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Stock Details": {
      "main": [
        [
          {
            "node": "Stock Available?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CW Response": {
      "main": [
        [
          {
            "node": "Rework Response Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rework Response Check": {
      "main": [
        [
          {
            "node": "Add Uniform Request in DB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Out of Stock Email": {
      "main": [
        [
          {
            "node": "Update Status OOS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stock Available?": {
      "main": [
        [
          {
            "node": "Out of Stock Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Links for Approve and Reject1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Uniform Request in DB": {
      "main": [
        [
          {
            "node": "Update Request ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Request ID": {
      "main": [
        [
          {
            "node": "Get Stock Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get all Approved Uniforms",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get all Approved Uniforms": {
      "main": [
        [
          {
            "node": "Table Format Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Table Format Code": {
      "main": [
        [
          {
            "node": "Weekly Email to HR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update status \"Approve\"": {
      "main": [
        []
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Request Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Request Details": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Create logs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Status \"Issued\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create logs": {
      "main": [
        []
      ]
    },
    "Update Status \"Issued\"": {
      "main": [
        [
          {
            "node": "Confirmation Of Issuing status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmation Of Issuing status": {
      "main": [
        [
          {
            "node": "Confirmation With Employee",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8a08da34-7c0a-4e0d-8905-be7aa0771209",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cba2bda367a586c0b46ebb56d3d17fdfaccde5cf814cb7b2935cb44049ae0595"
  },
  "id": "bvLwl1kV4cqeMkHz",
  "tags": []
}